<span class="col-xs-3 col-sm-1"><B>Subject:</B></span>
<span class="col-xs-9 col-sm-11">{{{post.subject}}}</span>
<span class="col-xs-3 col-sm-1"><B>Author:</B></span>
<span class="col-xs-9 col-sm-11">{{post.author.fullName}}</span>
<span class="col-xs-3 col-sm-1"><B>Posted:</B></span>
<span class="col-xs-9 col-sm-11">{{formatDate post.created "%B %e, %Y %-l:%M%p"}}</span>
<span class="col-xs-12 well">{{{post.body}}}</span>
